# Questions 1:
How to import pandas and check the version?

In [3]:
import pandas as pd
import numpy as np

In [2]:
print(pd.__version__)

1.0.5

# Questions 2:
How to create a series from a numpy array?

In [4]:
data = np.array(['a', 'b', 'c', 'd', 'e']) 
  
# creating series 
s = pd.Series(data) 
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

# Questions 3:
How to convert the index of a series into a column of a dataframe?

In [8]:
#First Way
df = pd.DataFrame({'Roll Number': ['20CSE29', '20CSE49', '20CSE36', '20CSE44'], 
                   'Name': ['Amelia', 'Sam', 'Dean', 'Jessica'], 
                   'Marks In Percentage': [97, 90, 70, 82], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']})
df['Index']=df.index
df

   index Roll Number     Name  Marks In Percentage Grade  Subject  Index
0      0     20CSE29   Amelia                   97     A  Physics      0
1      1     20CSE49      Sam                   90     A  Physics      1
2      2     20CSE36     Dean                   70     C  Physics      2
3      3     20CSE44  Jessica                   82     B  Physics      3

In [9]:
#second Way
df = pd.DataFrame({'Roll Number': ['20CSE29', '20CSE49', '20CSE36', '20CSE44'], 
                   'Name': ['Amelia', 'Sam', 'Dean', 'Jessica'], 
                   'Marks In Percentage': [97, 90, 70, 82], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']})

df.reset_index(level =0 ,inplace =True)
df

   index Roll Number     Name  Marks In Percentage Grade  Subject
0      0     20CSE29   Amelia                   97     A  Physics
1      1     20CSE49      Sam                   90     A  Physics
2      2     20CSE36     Dean                   70     C  Physics
3      3     20CSE44  Jessica                   82     B  Physics

# Questions 4:
Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)
Questions 5

In [7]:
import seaborn as sns

sns.get_dataset_names()
print(sns.get_dataset_names())

tips = sns.load_dataset('mpg')
tips.head()

D:\DataScienceProjects\lib\site-packages\seaborn\utils.py:384: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file D:\DataScienceProjects\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

# Questions 5:
Which country origin cars are a part of this dataset?

In [9]:
tips['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

# Questions 6:
Extract the part of the dataframe which contains cars belonging to 'usa'

In [20]:
car_belong  = tips['origin']=="usa"
car_belong

0      True
1      True
2      True
3      True
4      True
       ...
393    True
394    True
395    True
396    True
397    True
Name: origin, Length: 398, dtype: bool